:root {
    --youtubeBlack18: #181818;
    --youtubeBlack21: #212121;
    --youtubeBlack32: #323232;
    --youtubeBlack38: hsl(0, 0%, 22%);
    --youtubeGray: hsl(0, 0%, 67%);
    --youtubeBlue: #3DA6FF;
}